*{
    margin: 0;
    padding: 0;
        
}
body{
    background: linear-gradient(to bottom, #fff, #F597A5);
}
.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 20px;
}

.navigation a img{
    width: 100px;
    height: 100px;
    opacity: 0.5;
}

.navigation a img:hover{
    opacity: 1;
}

.header_items{
    text-align: center;
    font-size: 50px;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 80px;
}

.navigation-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}

.navigation-2 a{
    text-align: center;
    text-decoration: none;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: black;
    border: 2px solid #F597A5;
    background-color: #F597A5;
    padding: 10px 20px;
    border-radius: 20px;

}

.navigation-2 a:hover{
    border: 2px solid black;
    opacity: 0.8;
}









.popular_header{
    font-size: 40px;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 7%;
    margin-bottom: 30px;
}

.section-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-popular{
    display: flex;
    flex-direction: column;
    width: 400px;
    /* border: 1px solid #F597A5; */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.card-popular img{
    width: 300px;
    height: 300px;
}

.card-popular .description{
    font-size: 30px;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 24px;
}

.shops{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 32px 64px;
    flex-wrap: wrap;
    font-size: 20px;
    color: rgb(70, 70, 70);
    background-color: #ffffff90;
    padding: 24px;
    border-radius: 20px;
    
}

.shops h1{
    font-size: 20px;
    margin-bottom: 12px;
    border-bottom: #F597A5 3px solid;
}

.shops-kyiv, .shops-donetsk, .sluzhba{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
}

.kyiv, .donetsk, .sluzhba-pidtrymky{
    margin: 12px 0 12px 12px;
}

.contact-text{
    margin-bottom: 40px;
    
}
.contact{
    font-size: 30px;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 24px;
    margin-left: 7%;
}
.contacts-icons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 95%;
}
.contacts-icons img{
    margin: 40px 10px;
    height: 50px;
    width: 50px;
    opacity: 0.5;
}


.section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card{
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px 0;
    margin: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    justify-content: space-between;
}

.card img{
    height: 300px;
}


.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-weight: 900;
    color: gray;
    align-items: center;
}

.price span{
    color: rgb(217, 108, 126);
    font-size: 20px;
}

.price img{
    width: 50px;
    height: 50px;
}

.card h1{
    font-size: 20px;
    margin: 10px;
}

.card a{
    text-decoration: none;
    background-color: rgb(217, 108, 126);
    color: white;
    font-weight: 300;
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px;
    
}

.shops-kyiv p::before{
    content: '';
    display: inline-block;
    width: 20px; /* бажана ширина */
    height: 20px; /* бажана висота */
    background: url('images/train.png') no-repeat center center;
    background-size: contain;
    position: relative;
    left:-10px;
    top: 2px;
}

.shops-donetsk p::before{
    content: '';
    display: inline-block;
    width: 20px; /* бажана ширина */
    height: 20px; /* бажана висота */
    background: url('images/village.png') no-repeat center center;
    background-size: contain;
    position: relative;
    left:-10px;
    top: 2px;
}

.contacts-icons img:hover{
    opacity: 1;
    cursor: pointer;
}